@import "../styles/colors.scss";

.header {
    height: 75px;
    background: $main;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-bottom: solid 1px #c1c1c1;
    box-sizing: border-box;

    span {
        font-size: 1.5em;
        color: white;
        font-weight: 700;
        text-shadow: 1px 2px 3px #0000001f;
    }
}